/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding-top: 50px;
    font-family: Raleway;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.top-banner {
    height: 62px;
    width: 100%;
    display: block;
}


.top-banner-font {
    font-size: 15px;
    color: white !important;
}

.navbar-nav > li > a {
    color: white !important;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    border-bottom: 2px solid white;
}

.menu-item-margin {
    margin: 10px 5px 0px 5px;
}

.menu-item-text {
    font-size:10px;
}

.nav-margin-top {
    margin-top:10px;
}

.navbar-nav > li.navbar-right {
    float: right !important;
}

#hex-container {
    padding-top: 10px;
}

#title-container {
    margin-left: 20px;
    margin-top:3px;
}

.title-name {
    font-size:18px;
}

.title-description {
    color: #cccccc;
    font-size:10px;
}

.card-container {
    padding: 6px;
}

.recaptcha-notice {
    font-size:12px;
}

.recaptcha-notice > a{
    color:#666;
}

.footer {
    background-color: #222;
    height: 40px;
    width: 100%;
    color: white;
    font-size: 30px
}

.align-center {
    margin: 0 auto !important;
    text-align: center;
}

.link {
    opacity: 1;
    transition-duration: 0.2s;
    cursor:pointer;
    color:white !important;
}


.link:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
}
#success_message {
    display: none;
}

.required-indicator {
    color:#222;
    font-size:14px;
}

.validation-message {
    font-family: Raleway;
    font-size: inherit;
    float: right;
    color: #ff7b00;
}

.glyphicon-alert {
    color: #ff7b00;
}

.glyphicon-ok {
    color: forestgreen;
}

.glyphicon-star {
    color: #555;
}

textarea {
    resize: none;
}

.submit-button {
    width: 100%;
    background-color: #222;
    color: white
}

.submit-button:hover {
    background-color: #333;
    color:white;
}

.data-mobile {
    display: none;
}

.grecaptcha-badge {
   display: none !important
}

@media only screen and (max-width: 768px) {
    #hex-container {
        margin-left:10px;
    }

    #column-names {
        display:none;
    }

    .container-img {
        display: block;
        width: 100%;
    }

    .data-mobile {
        display: block;
        text-align:center;
    }

    .content {
        box-shadow: none !important;
    }

}

@media only screen and (min-width:768px) {
    .content:hover .content-details {
        top: 50%;
        left: 50%;
        opacity: 1;
    }

    .content:hover .content-overlay {
        opacity: 1;
    }
    #hex:hover {
        -ms-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
        transition-duration: 0.9s;
    }

    #hex {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition-duration: 0.9s;
        cursor: pointer;
    }
}

@media only screen and (max-width:310px) {
    #hex-container {
        display:none;
    }
}
@media only screen and (max-width:260px) {
    #title-container {
        display: none;
    }
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.alert-icon {
    display:none;
}

.display-none {
    display:none;
}

.main-title {
    color: #2d2d2d;
    text-align: center;
    text-transform: capitalize;
    padding: 0.7em 0;
}

.container-img {
    float: left;
    width: 100%;
}

.container-img .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    box-shadow: 4px 4px #808080;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content-image {
    width:100%;
}

.content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.content-details p {
    color: #fff;
    font-size: 0.8em;
}

.fadeIn-bottom {
    top: 80%;
}
