<div id="column-names" class="row align-center">
    <div class="col-sm-4">
        Personal project
    </div>
    <div class="col-sm-4">
        Personal project
    </div>
    <div class="col-sm-4">
        Open source project
    </div>
</div>

<div class="row">
    <div class="col-sm-4 card-container">
        <div class="card">
            <div class="container-img">
                <div class="content">
                    <div class="data-mobile">
                        <h3 class="content-title">Kinterest - Personal project</h3>
                        <p class="content-text">Full-stack Pinterest clone</p>
                    </div>
                    <a href="https://console-log-reece-kinterest.herokuapp.com/">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="~/images/kinterest-portfolio.png">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Kinterest</h3>
                            <p class="content-text">Full-stack Pinterest clone</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-container">
        <div class="card">
            <div class="container-img">
                <div class="content">
                    <div class="data-mobile">
                        <h3 class="content-title">Beans - personal project</h3>
                        <p class="content-text">This is a short description</p>
                    </div>
                    <a href="https://unsplash.com/photos/HkTMcmlMOUQ">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="~/images/kinterest-portfolio.png">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">This is a title</h3>
                            <p class="content-text">full stack</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 card-container">
        <div class="card">
            <div class="container-img">
                <div class="content">
                    <div class="data-mobile">
                        <h3 class="content-title">Volvox.Helios - Open source</h3>
                        <p class="content-text">Web based discord bot</p>
                    </div>
                    <a href="http://www.volvox.tech/">
                        <div class="content-overlay"></div>
                        <img class="content-image" src="~/images/volvox-portfolio.png">
                        <div class="content-details fadeIn-bottom">
                            <h3 class="content-title">Volvox.Helios</h3>
                            <p class="content-text">Web based discord bot</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>