@model Portfolio.ViewModels.ContactViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="about" class="container">
        <h3 class="align-center">About me</h3>
        <hr />
    </div>
    <div id="projects" class="container">
        <h3 class="align-center">Some Projects</h3>
        <hr />

        @await Html.PartialAsync("_ProjectsPartial")
    </div>
    <div id="contact" style="margin-top:20px;" class="container">
        <h3 class="align-center">Contact</h3>
        <hr />
        @await Html.PartialAsync("_ContactFormPartial", Model)
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () { 
            var validator = $("#contactform").data('validator');

            validator.settings.highlight = function (el) {
                // icon span is second sibling child, 
                var ax = $(el).siblings()[1];

                // icon itself is first child of span
                var x = $(ax).children()[0];

                $(x).removeClass(["glyphicon-star", "glyphicon-ok"]).addClass("glyphicon-alert");
            }
            validator.settings.unhighlight = function (el) {
                // icon span is second sibling child, 
                var ax = $(el).siblings()[1];

                // icon itself is first child of span
                var x = $(ax).children()[0];

                $(x).removeClass(["glyphicon-star", "glyphicon-alert"]).addClass("glyphicon-ok");
            }
        })
        
        function SubmitForm() {  
            $("#contactform").submit();  
        } 
    </script>
}