<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top top-banner-font">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <div style="float:left;" id="hex-container">
                        <div id="hex" style="position:relative;">
                            <a href="https://github.com/consolelogreece">
                                <i style="color:#333; z-index: 1; position:absolute; top:18%; left:16%; font-size:30px" class="fab fa-github"></i>
                            </a>
                            <svg width="44" height="50" style="filter:drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px); fill:transparent;">
                                <path fill="#fff" d="M18.186533479473212 1.9999999999999998Q21.650635094610966 0 25.11473670974872 1.9999999999999998L39.837168574084174 10.5Q43.30127018922193 12.5 43.30127018922193 16.5L43.30127018922193 33.5Q43.30127018922193 37.5 39.837168574084174 39.5L25.11473670974872 48Q21.650635094610966 50 18.186533479473212 48L3.464101615137755 39.5Q0 37.5 0 33.5L0 16.5Q0 12.5 3.464101615137755 10.5Z"></path>
                            </svg>
                        </div>
                    </div>
                    <div style="float:left;" id="title-container">
                        <h5 class="title-name">Consolelogreece</h5>
                        <h6 class="title-description">Full-stack developer</h6>
                    </div>
                </div> 
            </div>
            <div class=" top-banner-font navbar-collapse collapse">
                <ul class="navbar-right nav navbar-nav nav-margin-top align-center">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="menu-item-margin menu-item-text">H O M E</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="menu-item-margin menu-item-text">A B O U T</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="menu-item-margin menu-item-text">C O N T A C T</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="">
        <div style="margin-top: 30px;">
            @RenderBody()
        </div>
        <hr />
        <footer class="footer container-fluid">
            <div class="align-center">
                <a href="https://github.com/consolelogreece">
                    <i class="fab fa-github link"></i>
                </a>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
